.chat {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #f6f8fc;
	font-family: "Inter", sans-serif; /* Modern sans-serif font */
}

.noFriendSelected {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 1.2rem;
	color: #666;
}

