.container-ch {
	width: 100%;
	height: 100dvh;
	display: grid;
	grid-template-columns: 2fr 4fr;
	border: 1px solid black;
}

@media (max-width:801px) {
	.sidebar-ch {
		width: 100dvw;
	}
}
.dashboard-ch {
	border-left: 2px solid black;
}
@media (max-width:801px) {
	.dashboard-ch {
		display:none;
	}
}
