.sidebar {
	border: 1px dashed black;
	height: 100vh;
	padding: 1rem;
}
.sidebar {
	overflow-y: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
.sidebar::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}
@media (max-width:801px) {
	.sidebar {
		border: 1px dashed black;
		height: 100vh;
		padding: 0.5rem;
	}
}
@media (min-width:2000px) {
	.sidebar {
		border: 1px dashed black;
		height: 100vh;
		padding: 3rem;
	}
}
.searchField {
	width: 100%;
	height: 4rem;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.searchIn {
	padding-left: 20px;
	font-size: 24px;
	font-style: italic;
}
@media (min-width:2000px) {
	.searchField {
		height: 6rem;
		border: 1px solid #000;
		margin-bottom: 6rem;
	}
	.searchIn {
		padding-left: 30px;
		font-size: 44px;
		font-weight: 700;
		font-style: italic;
	}
}
.IconField {
	background-color: #e9ecef;
	height: 100%;
	width: 84px;
	align-content: center;
}
@media (max-width:801px) {
	.IconField {
		background-color: #e9ecef;
		height: 100%;
		width: 64px;
	}
}
.icon {
	transform: scale(1.5);
}
@media (min-width:2000px) {
	.IconField {
		width: 128px;
	}
	.icon {
		transform: scale(2);
	}
}
.userList {
	list-style: none;
}
.user {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1.5rem;
	transition: ease-out 200ms;
	cursor: pointer;
	padding: 4px;
}
.user:hover {
	background-color: #ddd;
}
.avatar {
	border-radius: 300px;
	padding: 12px;
	overflow: hidden;
}
.description {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}
@media (max-width: 321px) {
	.user {
		padding: 2px;
	}
	.avatar {
		border-radius: 0;
		transform: scale(0.75);
		padding: 0;
		overflow: visible;
	}
	.description {
		transform: scale(0.75);
		font-weight: 400;
	}
}
@media (min-width:2000px) {
	.user {
		margin-bottom: 6rem;
		padding: 2rem;
		border-radius: 2rem;
	}
	.avatar {
		transform: scale(1.25);
	}
	.description {
		transform: scale(2);
		font-weight: 600;
	}
}
.green,
.red {
	border-radius: 9999px;
	width: 20px;
	height: 20px;
}
.green {
	background: #2aea2a;
}
.red {
	background: #ff0000;
}
@media (max-width: 321px) {
	.green,
	.red {
		border-radius: 40px;
		padding: 4px;
		width: 15px;
		height: 15px;
	}
}